.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 1fr;
}

.position{
  max-width: 400px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.button{
  width: 100%;
  text-align: center;
}


