<mat-nav-list>
  <a  mat-list-item *ngFor="let comment of comments">
    <span mat-line>{{comment.userName}}</span>
    <span mat-line>{{comment.text}}</span>
    <button mat-icon-button  matTooltip="Deletar essa postagem" color="warn" (click)="delete()" *appIfAuth="comment.userID">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
  <a mat-list-item *ngIf="user">
    <input type="text" placeholder="seu comentário..." [(ngModel)]="text" class="editable">
    <div class="button">
      <button mat-raised-button color="primary" (click)="send()">Comentar</button>
    </div>
  </a>
</mat-nav-list>


